body {
	font-family:Arial, Helvetica, sans-serif;
	background-color: rgb(50, 6, 51);
	color: white;
}

#wrapper {
	max-width: 1280px;
	margin: 0 auto;
	background-color: rgba(67, 141, 252, 0.973);
	padding: 32px;
}


header {
	background-color: rgb(7, 7, 102);
	height: 150px;
	padding: 4px
	
}

header h1 {
	text-transform: uppercase;
	text-align: center;
	color: white;
	line-height: 50px;
	font-weight: bold;
}

header h2 {
	font-variant: small-caps;
	text-align: center;
	color: white;

}

.main_menu {
	padding: 5px 0 5px 0;
	text-align: center;
	line-height: 50px;
	background-color: rgb(0, 0, 0);
}

ul.main_menu {
	margin-top: 15px;
}

.main_menu li {
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 16px;
}

.main_menu a {
	text-decoration: none;
	color: rgb(99, 2, 255);
	padding: 8px;
	font-variant: small-caps;
}

.main_menu a:hover {
	color: rgb(2, 255, 221);
}

.text-box-content {
	padding: 4% 8%;
}

.text-box-content {
	max-width: 1280px;
	line-height: 1.8;
	margin: 0 auto;
	border: 3px solid black;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: white;
	background-color: rgba(67, 141, 252, 0.973);
}

.image-area {
	width: 480px;
	height: 300px;
	overflow: hidden;
}

.left {
	float: left;
	left: 2;
}

.contact {
	width:100%;
	background-color: rgba(67, 141, 252, 0.973);
	;
	padding:2% 0;
	margin-top: 5%;
	clear: both;
}

.contact-content{
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.contact-content h5{
	font-size: 1.87em;
	padding:1% 0;
	color: white;
	font-weight:600;
	letter-spacing:0.04em;
}

.contact-content a {
	color: white;
	text-decoration: none;
}

.aboutpage {
	max-width: 1250px;
	height: 580px;
	line-height: 1.8;
	margin: 0 auto;
	border: 3px solid black;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: white;
	background-color: rgba(67, 141, 252, 0.973);
}
h4 {
	margin-left: 1%;
	font-weight: bold;
}
#project {
  display: inline-block;
  width: 350px;
  height: 250px;
  
  margin-left: 1%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.Profile  {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 10%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

